.emp-width{
	min-width: 150px;
  max-width: 500px; width: 100%;
}
table {
  width:87%;margin-left: 9%;
}
.mat-form-field {
  font-size: 14px;
  width:87%;margin-left: 9%;
}

.example-button-row {
  margin-left:20px;

}
.head-font{
 font-weight: bold;
 font-size: 100%;
 text-transform:uppercase;	
}
 .class1{
 	font-weight: bold;
    box-shadow: 10px 7px #ece5e5;;
    width: 95%;
    border-style: solid;
    border-width: 1.6px;
    height: 112%;
    margin-left: 8px;
     text-transform: uppercase;
    text-align: center;
    border-radius: 21px;
	 }
	 .sub-class{   

	 	border-style: solid;
    border-width: 2px;
    height: 32%;
    margin-top: -1%;
    margin-left: 0%;
    border-radius: 26px;
    color:white;
   
	 }
	 .co1{ border-color: #0080ff; }
	 .co2{  border-color: #339933;  }
	 .co3{border-color: #cc0000}
	 .co4{border-color: #ff9900}
	  .co11{ border-color: #0080ff;
    background-color: #0080ff;}
	  .co12{
	  	 border-color: #339933;
    background-color: #339933;
	  }
	 .co13{border-color: #cc0000;
    background-color: #cc0000;}
	 .co14{border-color: #ff9900;
    background-color: #ff9900;}